<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" id="searchBox" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" id="searchLocalBtn" type="button">Go!</button>
      </span>
    </div>
    <div >
      <ul id="searchResults">
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" id="body_container">
  <h1 class="searchMoviesHeader">Search Results</h1>
  <div class="row" id="searchMoviesRow">
    <div id="searchMoviesBox">
    </div>
  </div>
  <h1 class="UpcomingMoviesHeader">Upcoming Movies</h1>

  <div class="row" id="upcomingMoviesRow">
    <div id="upcomingMoviesBox">
    </div>
  </div>

  <h1>Want to Watch</h1>

  <div class="row userMoviesRow">
    <div class="userMoviesBoxes" id="wantToWatchBox">
    </div>
  </div>

  <div class='row'>
    <h1>Seen</h1>
    <div id="filters">
      <a href="" class="filters" id="lovedFilter">Loved</a>
      <a href="" class="filters" id="neutralFilter">Neutral</a>
      <a href="" class="filters" id="allFilter">All</a>
    </div>
  </div>

  <div class="row userMoviesRow">
    <div class="userMoviesBoxes" id="seenBox">
    </div>
  </div>

</div>

<div class="loadingModal"></div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-4" id="posterAndDetails">
                </div>

                <div class="col-md-8" id="trailerAndPlot">
                </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add to want list</button>
        <button type="button" class="btn btn-primary">Seen</button>
        <button type="button" class="btn btn-primary">Loved</button>
        <button type="button" class="btn btn-primary">Neutral</button>
        <button type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-primary">Back to Want list</button>

      </div>
    </div>
  </div>
</div>
