<nav class="navbar navbar-default">
</nav>


<div class='row'>
	<div class="col-xs-10 col-xs-offset-1">

		<div id="login">
			<h1>Login</h1>
			<form id="login-form">
				<div class="form-group row">
					<label for="loginEmailInput" class="col-xs-2 col-form-label">Email</label>
					<div class="col-xs-4">
						<input type="email" class="form-control" id="loginEmailInput" placeholder="Enter email">
					</div>
				</div>
				<div class="form-group row">
					<label for="loginPasswordInput" class="col-xs-2 col-form-label">Password</label>
					<div class="col-xs-4">
						<input type="password" class="form-control" id="loginPasswordInput" placeholder="Enter password">
					</div>
				</div>
				<p id="showMeSignUp">To sign up please click here</p>
				<button type="submit">Log In</button>
			</form>
		</div>


		<div id="signup">
			<h1>Sign Up</h1>
			<form id="signup-form">
				<div class="form-group row">
					<label for="signUpNameInput" class="col-xs-2 col-form-label">Name</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" id="signUpNameInput" placeholder="Enter name">
					</div>
				</div>
				<div class="form-group row">
					<label for="signUpEmailInput" class="col-xs-2 col-form-label">Email</label>
					<div class="col-xs-4">
						<input type="email" class="form-control" id="signUpEmailInput" placeholder="Enter email">
					</div>
				</div>
				<div class="form-group row">
					<label for="signUpPasswordInput" class="col-xs-2 col-form-label">Password</label>
					<div class="col-xs-4">
						<input type="password" class="form-control" id="signUpPasswordInput" placeholder="Enter password">
					</div>
				</div>
				<div class="form-group row">
					<label for="signUpPasswordConfirmInput" class="col-xs-2 col-form-label">Password Confirmation</label>
					<div class="col-xs-4">
						<input type="password" class="form-control" id="signUpPasswordConfirmInput" placeholder="Confirm password">
					</div>
				</div>
				<p id="showMeLogIn">To log in please click here</p>
				<button type="submit">Sign Up</button>
			</form>
		</div>

	</div>
</div>



