<div id="login">
	<h1>Login</h1>
	<form id="login-form">
		<p>Email</p><input type="email" name="email">
		<p>password</p><input type="password" name="password">
		<button type="submit">Log In</button>
	</form>
</div>


<div id="signup">
	<h1>Sign Up</h1>
	<form id="signup-form">
		<p>Email</p><input type="email" name="email">
		<p>password</p><input type="password" name="password">
		<p>password confirmation</p><input type="password" name="password_confirmation">
		<button type="submit">Sign Up</button>
	</form>
</div>