/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= bootstrap
 *= require_self
 */

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-image: url("http://i.imgur.com/s6fnR5g.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  // background: rgba(0,0,0,0.9);
}

  .navbar {
    background: rgba(0,0,0,0);
    a {
      color: white;
      }
  }
// @font-face {
//   font-family: 'Glyphicons Halflings';

//   src: font-url('glyphicons-halflings-regular.eot');
//   src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
//        font-url('glyphicons-halflings-regular.woff2') format('woff2'),
//        font-url('glyphicons-halflings-regular.woff') format('woff'),
//        font-url('glyphicons-halflings-regular.ttf') format('truetype'),
//        font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }

.main-content {
  margin-top: 65px;
}
