// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth.index {
  .authPage {
    float: none;
    margin: 0 auto;
    color: white;
    form{
      float: none;
      margin: 0 auto;
      button {
        color: black;
      }
    }
  }
}