.home.index {

  #body_container {
    margin-top : 65px;
    margin-bottom: 40%;
    // background: yellow;
    height     : 700px;

      h1 {
        text-align: center;
      }
      #filters {
        text-align: center;
        padding: 1%;
        padding-top: 0;
      }
      .filters {
        padding: 0 1%;
      }
      #upcomingMoviesRow, #searchMoviesRow{
        height       : 40%;
        overflow-x   : scroll;
        white-space  : nowrap;
        border-top: solid;
        border-bottom: solid;
        padding-top: 0.6%;
          #upcomingMoviesBox, #searchMoviesBox {
            // background-color: #333;
            vertical-align: middle;
            height              : 97%;
          }
          #upcomingMoviesBox img, #searchMoviesBox img {
              display: inline-block;
              margin            : 0 8px 0 8px;
              height            : 100%;
              vertical-align: middle;
          }
      }

      .userMoviesRow{
        height       : 40%;
        overflow-x   : scroll;
        white-space  : nowrap;
        border-top: solid;
        border-bottom: solid;
        padding-top: 0.6%;
          .userMoviesBoxes {
            // background-color: #333;
            height              : 97%;
          }
          .userMoviesBoxes img {
              // display: inline-block;
              margin            : 0 8px 0 8px;
              height            : 100%;
          }
      }
    .hovereffect2 {
      // width: 100%;
      height              : 100%;
      overflow            : hidden;
      position            : relative;
      text-align          : center;
      cursor              : default;
      display             : inline-block;
    }

    .hovereffect2 .overlay {
      width               : 100%;
      height              : 100%;
      position            : absolute;
      overflow            : hidden;
      top                 : 0;
      left                : 0;
    }

    .hovereffect2 img {
      // display: block;
      // position: relative;
      -webkit-transition  : all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }

    .hovereffect2:hover img {
      filter              : url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
      filter              : grayscale(1) blur(3px);
      -webkit-filter      : grayscale(1) blur(3px);
      -webkit-transform   : scale(1.2);
      -ms-transform       : scale(1.2);
      transform           : scale(1.2);
    }

    .hovereffect2 h2 {
      // text-transform: uppercase;
      text-align          : center;
      position            : relative;
      font-size           : 17px;
      padding             : 10px;
      background          : rgba(0, 0, 0, 0.6);
    }

    .hovereffect2 a.info {
      display             : inline-block;
      text-decoration     : none;
      padding             : 7px 14px;
      // border              : 1px solid #fff;
      margin              : 65% 0 0 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .hovereffect2 a.info:hover {
      box-shadow          : 0 0 5px #fff;
    }

    .hovereffect2 a.info, .hovereffect2 h2 {
      -webkit-transform   : scale(0.7);
      -ms-transform       : scale(0.7);
      transform           : scale(0.7);
      -webkit-transition  : all 0.4s ease-in;
      transition          : all 0.4s ease-in;
      opacity             : 0;
      filter              : alpha(opacity=0);
      color               : #fff;
      text-transform      : uppercase;
    }

    .hovereffect2:hover a.info, .hovereffect2:hover h2 {
      opacity             : 1;
      filter              : alpha(opacity=100);
      -webkit-transform   : scale(1);
      -ms-transform       : scale(1);
      transform           : scale(1);
    }
  }

  #modalPosterImg img {
    width      : 100%
  }

  .loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.2 )
                url('http://66.media.tumblr.com/tumblr_m7l7n6gWuD1qg6rkio1_r1_500.gif')
                50% 50%
                no-repeat;
  }

  body.loading {
    overflow: hidden;
  }

  body.loading .loadingModal {
    display: block;
  }

  #searchRemoteBtn {
    position: relative;
    top: -100px;
    display: inline-block;

    img {
      max-height: 100px;
    }
  }
