<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row">
			<h1 id="welcome"></h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="row" id="viewDetails">
					<h3 id="name"></h3>
					<h3 id="email"></h3>
					<button type="submit" id="showEditSection">Edit Details</button>
				</div>
				<div class="row" id="editDetails">
					<form id="edit-form">
						<div class="form-group row">
							<label for="editNameInput" class="col-xs-4 col-form-label">Name</label>
							<div class="col-xs-8">
								<input type="text" class="form-control" id="editNameInput" placeholder="Enter name">
							</div>
						</div>
						<div class="form-group row">
							<label for="editEmailInput" class="col-xs-4 col-form-label">Email</label>
							<div class="col-xs-8">
								<input type="email" class="form-control" id="editEmailInput" placeholder="Enter email">
							</div>
						</div>
						<button type="submit" id="makeChangesBtn">Make Changes</button>
						<button type="submit" id="deleteAccountBtn">Delete Account</button>
					</form>
				</div>
				<div class="row">
					<button type="submit" id="logoutBtn">Logout</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-8">
				<div class="row" id="movieDisplay">
				</div>
			</div>
		</div>
	</div>
</div>