<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Couch Potato</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/profile">Profile <span class="sr-only">(current)</span></a></li>
        <li id='logout'><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row">
			<h1>Profile</h1>
		</div>
		<div class="row">
			<h3>Email: [USEREMAIL]</h3><h5>Edit</h5>
			<h3>Password: [USERPASSWORD]</h3><h5>Edit</h5>
		</div>
		<div class="row">
			<h3>[USERLIBRARY]</h3><h5>Show</h5>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="https://image.tmdb.org/t/p/w640/lafRuPbjEQrrHG9QEaoyV2znZC.jpg">
			</div>
		</div>
	</div>
</div>